@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer{
 .link{
  @apply block py-8 uppercase text-[20px] font-medium tracking-widest relative
 } 
 .active-link{
  @apply after:absolute after:left-0 after:w-full after:bottom-0 after:bg-gray-500 after:h-0.5
 }
}